header {
    text-align: center;

    background-color: #e3f2fd;
    border-bottom: 2px solid #ccc;
}

nav {
    height: 50px;
    display: flex;
    justify-content: center;
}

nav a {

    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #0d47a1;
}

nav a:hover {
    color: #bd111d;
    text-decoration: underline;
}

/* body {
    font-family: 'Segoe UI', Tahoma;
    background-color: #f5f7fa;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


body {
    padding: 20px;
} */

ul {
    list-style-type: none;
    padding: 0;
    max-width: 800px;
    margin: 50px auto;
}


li {
    background-color: #f8f6f6;
    border: 1px solid #ddd;
    border-left: 6px solid #27ae60;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;

}

li:hover {
    transform: scale(1.08);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}




footer {
    clear: both;
    text-align: center;
    background-color: #e0e0e0;

}