header {
    text-align: center;

    background-color: #e3f2fd;

}

nav {
    height: 50px;
    display: flex;
    justify-content: center;
}





nav a {

    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #0d47a1;
}

nav a:hover {
    color: #bd111d;
    text-decoration: underline;
}

section {
    display: flex;

    justify-content: center;

    background-color: #E4D6E6;
}



li {
    margin-bottom: 30px;
    background-color: #f8f6f6;
    border-left: 6px solid #27ae60;
    padding: 10px;
    border-radius: 10px;

    list-style: none;
    width: 800px;
}


li:hover {
    transform: scale(1.01);

}

li h3 {
    color: #2980b9;

    font-size: 22px;
}

li p {
    font-size: 16px;

}


.exp {
    display: flex;
    align-items: center;
    justify-content: space-between;

}



.exp img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}




footer {
    clear: both;
    text-align: center;
    background-color: #e0e0e0;

}